/* general rules */
* {
    font-family: "Roboto";
    color: black;
}

html {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

body div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    transition: background-color 0.5s ease-in-out;
}

.UWF,
h3,
h4,
h5,
strong,
em {
    color: white !important;
}

/* header section */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    min-width: 60%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

nav ul li {
    list-style: none;
    font-size: 1.5rem;
    border: 1px solid gray;
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    transition: background-color 1s;
    box-shadow: 0 4px 2px -2px black;
}

#darkmode {

}

/* create some animations to make the buttons feel cleaner and overall better */
nav ul li:hover {
    background-color: lightgray;

}

a:hover {
    color: black;
}

nav ul li:active {
    background-color: white;
}

/* event animations end here */

a {
    color: white;
    text-decoration: none;
}

/* center using flex */
.centerflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centerflex p {
    max-width: 600px;
    margin: 10px 0 20px 0;
}

/* style my pfp */
#pfp {
    max-width: 300px;
    max-height: 300px;
    border: 1px solid black;
    border-radius: 50%;
    float: left;
}

.aboutme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.aboutme p {
    max-width: 300px;
    margin-left: 20px;
}

/* treat education differently, because I want my education places displayed side by side, not 
in the direction of column */
.education {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.PSC {
    background-image: url("../images/pscimage.jpg");
    background-color: rgba(255, 255, 255, 0.7);
    background-position: center;
    max-width: 300px;
    padding: 20px;
    margin: 20px;
    color: white;
}

.UWF {
    padding: 20px;
    margin: 20px;
    max-width: 300px;
    background-image: url("../images/uwfimage.png");
    background-color: rgba(255, 255, 255, 0.9);
    background-position: center;
    width: fit-content;
    color: white;
}

/* footer section, i figured out that the centerflex was making my ul flex-flow column,
so I took it off because I wanted me ul li's to  */
footer {
    margin: 0;
    padding: 10px 0 20px 0;
    width: 100%;
    box-sizing: border-box;
    color: white !important;
    background-color: black;
    bottom: 0;
    min-height: 100px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin: 0 10px 0 10px;
}

footer ul li,
footer h2 {

    color: white !important;
    /* this needs to be imporant or it will blend in with the background. */
}

/* start on some media queries */
@media screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 499px) {
    .aboutme {
        flex-direction: column;
    }
    nav {
        width: 100%;
    }
    #pfp {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 427px) {
    html {
        font-size: 8px;
    }
}